################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/obj
/BookStore/bin/Debug/netcoreapp3.1
/BookStore/.vs/BookStore/v17
/BookStore/.vs/BookStore/config
/BookStore/.vs/BookStore
